AlliedAdapter/Connected Services/ADAuthService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ipsbo.bankalfalah.com/ADAuthentication/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rapid_ADAuthentication_Service" />
  <xs:element name="ValidateLDAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLDAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLDAPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rapid_ADAuthentication_Service" minOccurs="0" name="ValidateUserResult" nillable="true" type="q1:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>