AlliedAdapter/Connected Services/ServiceReference1/FileManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RapidFileService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RapidFileService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sessionid" type="xs:int" />
      <xs:element minOccurs="0" name="DigitalSignatureImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Signature_File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature_File_ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDFrontImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CNIC_F_File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNIC_F_File_ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDBackImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CNIC_B_File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNIC_B_File_ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProofOfNRPImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NRP_File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRP_File_ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proofOfIncomeImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProofIncome_File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProofIncome_File_ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZakatDeclaration" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ZakatFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZakatFileContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>