AlliedAdapter/Connected Services/ServiceReference1/FileManagerService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.24.21.158:5000/FileManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RapidFileService.Contracts" />
  <xs:element name="PostData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidFileService.Contracts" minOccurs="0" name="req" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapidFileService.Contracts" minOccurs="0" name="PostDataResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>