AlliedAdapter/Web References/CardListing/wsABLCARDSTATUSCHANGE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CardStatusChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Expirydate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USERID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewcardStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CardStatusChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardStatusChangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CardListing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNIC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CardListingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardListingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreshCardListing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNIC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreshCardListingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FreshCardListingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CardStatusChangeSoapIn">
    <wsdl:part name="parameters" element="tns:CardStatusChange" />
  </wsdl:message>
  <wsdl:message name="CardStatusChangeSoapOut">
    <wsdl:part name="parameters" element="tns:CardStatusChangeResponse" />
  </wsdl:message>
  <wsdl:message name="CardListingSoapIn">
    <wsdl:part name="parameters" element="tns:CardListing" />
  </wsdl:message>
  <wsdl:message name="CardListingSoapOut">
    <wsdl:part name="parameters" element="tns:CardListingResponse" />
  </wsdl:message>
  <wsdl:message name="FreshCardListingSoapIn">
    <wsdl:part name="parameters" element="tns:FreshCardListing" />
  </wsdl:message>
  <wsdl:message name="FreshCardListingSoapOut">
    <wsdl:part name="parameters" element="tns:FreshCardListingResponse" />
  </wsdl:message>
  <wsdl:portType name="wsABLCARDSTATUSCHANGESoap">
    <wsdl:operation name="CardStatusChange">
      <wsdl:input message="tns:CardStatusChangeSoapIn" />
      <wsdl:output message="tns:CardStatusChangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CardListing">
      <wsdl:input message="tns:CardListingSoapIn" />
      <wsdl:output message="tns:CardListingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FreshCardListing">
      <wsdl:input message="tns:FreshCardListingSoapIn" />
      <wsdl:output message="tns:FreshCardListingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsABLCARDSTATUSCHANGESoap" type="tns:wsABLCARDSTATUSCHANGESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CardStatusChange">
      <soap:operation soapAction="http://tempuri.org/CardStatusChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardListing">
      <soap:operation soapAction="http://tempuri.org/CardListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreshCardListing">
      <soap:operation soapAction="http://tempuri.org/FreshCardListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsABLCARDSTATUSCHANGESoap12" type="tns:wsABLCARDSTATUSCHANGESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CardStatusChange">
      <soap12:operation soapAction="http://tempuri.org/CardStatusChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardListing">
      <soap12:operation soapAction="http://tempuri.org/CardListing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FreshCardListing">
      <soap12:operation soapAction="http://tempuri.org/FreshCardListing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsABLCARDSTATUSCHANGE">
    <wsdl:port name="wsABLCARDSTATUSCHANGESoap" binding="tns:wsABLCARDSTATUSCHANGESoap">
      <soap:address location="http://10.136.0.3/wsABLCARDSTATUSCHANGE/wsABLCARDSTATUSCHANGE.asmx" />
    </wsdl:port>
    <wsdl:port name="wsABLCARDSTATUSCHANGESoap12" binding="tns:wsABLCARDSTATUSCHANGESoap12">
      <soap12:address location="http://10.136.0.3/wsABLCARDSTATUSCHANGE/wsABLCARDSTATUSCHANGE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>