AlliedAdapter/atm.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://tempuri.org/ATMMSGSet" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/ATMMSGSet" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/ATMMSGSet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/ATMMSGSet">
	<xsd:complexType name="complexType">
		<xsd:sequence>
			<xsd:element name="CNIC" type="xsd:string"/>
			<xsd:element name="FINGER_NO" type="xsd:string"/>
			<xsd:element name="CONTACT_NO" type="xsd:string"/>
			<xsd:element name="ISO_NADRA" type="xsd:string"/>
			<xsd:element name="ISO_LOCAL" type="xsd:string"/>
			<xsd:element name="FLAG" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="ATMReq" type="mrm:complexType"/>
	<xsd:complexType name="complexType1">
		<xsd:sequence>
			<xsd:element name="CODE" type="xsd:string"/>
			<xsd:element name="MESSAGE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="ATMRes" type="mrm:complexType1"/>
</xsd:schema>