AlliedAdapter/Connected Services/TitleFetchService/TitleFetchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:Q2="http://TitleFetchService" targetNamespace="http://TitleFetchService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TitleFetchResult" type="Q2:TitleFetchResultType" />
  <xsd:complexType name="TitleFetchDetails">
    <xsd:sequence>
      <xsd:element name="AccountBankIMD" type="xsd:string" />
      <xsd:element name="AccountNumber" type="xsd:string" />
      <xsd:element name="AccountType" type="xsd:string" />
      <xsd:element name="AccountCurrency" type="xsd:string" />
      <xsd:element name="IBAN" type="xsd:string" />
      <xsd:element name="AccountTitle" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TitleFetchResultType">
    <xsd:sequence>
      <xsd:element name="ResponseCode" type="xsd:string" />
      <xsd:element name="ResponseDescription" type="xsd:string" />
      <xsd:element name="Data" type="Q2:TitleFetchDetails" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>